@media (max-width: 576px)
  .container
    width: 87%
  .logo
    &__link
      color: $blue
  .header
    padding-top: 19px
    background: none
    &-menu
      display: none
      position: fixed
      left: 0
      right: 0
      background-color: $blue
      top: 70px
      border: 1
      width: 95%
      margin: auto
      &--visible
        max-height: 100%
        overflow: auto
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding-left: 0
        padding-bottom: 0
      &__link
        font-size: 14px   
        line-height: 17px
      &__item
        margin-bottom: 20px
      &_mobile
        height: 70px
        display: flex
        position: fixed
        right: 0
        list-style: none
        padding: 0
        background-color: transparent
        margin: 0
    &__block
      left: 0
      z-index: -1
      background-size: 150%
  .hero
    &__description
      padding-top: 33px
      padding-bottom: 63px
      width: 100%
    &__titel
      color: $blue
      margin-right: 20%
      margin-bottom: 56px
      font-size: 24px
      line-height: 29px
    &__text
      color: $blue
      text-align: right
      max-width: 100%
      margin-left: 26%
      margin-bottom: 37px
      font-size: 13px
      line-height: 16px
    &__link
      max-width: 100%
      background-color: $blue
      color: $light
    &-photo
      display: none
  .menu-button
    display: block
    background-color: $blue
    height: 70px
    width: 75px
    position: fixed
    right: 0
    top: 0
    z-index: 15
    &_active
      overflow: scroll
      width: 100%
      left: 0
      height: 100%
    &__line
      display: block
      position: absolute
      right: 24px
      top: 33px
      width: 30px
      height: 3px
      background-color: $light
      border: none
      cursor: pointer
      margin-bottom: 5px
      &:before 
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        width: 30px
        height: 3px
        background-color: $light
        transition: transform 0.2s
        margin-top: -7px
      &:after 
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        width: 30px
        height: 3px
        background-color: $light
        transition: transform 0.2s
        margin-top: 7px
      &_active 
        height: 30px
        background-color: transparent
        &:before 
          transform: rotate(45deg)
          margin-top: 0
        &:after 
          transform: rotate(-45deg)
          margin-top: 0
    &__logo
      display: none
      &_active
        display: flex
        align-items: center
        justify-content: center
        padding-top: 44px
    &__logo-link
      color: $light
    &__wrapper
      display: flex
      align-items: center
      justify-content: space-between
      position: absolute
      bottom: 30px
      right: 50%
      left: 50%
      transform: translateX(-50%)
      width: 96px
    &__icon
      display: none
      width: 16px
      height: 16px
      &_active
        display: flex
        cursor: pointer
  .useful
    padding-top: 26px
    padding-bottom: 130px
    &__line
      width: 20%
      &_2
        margin-bottom: 30px
    &__titel
      font-size: 24px
      line-height: 29px
      &__contaener
        margin-bottom: 20px
    &__text
      font-size: 14px
      line-height: 17px
      margin-bottom: 30px
    &-blocks
      &__item
        margin-bottom: 18px
      &__titel
        font-size: 18px
        line-height: 22px
        margin-bottom: 10px
      &__text
        font-size: 14px
        line-height: 17px
  .study
    &__wrapper
      padding-top: 40px
      padding-bottom: 50px
    &__titel
      font-size: 24px
      line-height: 29px
      margin-bottom: 15px
    &-blocks
      &__container
        margin-bottom: 28px
      &__titel
        font-size: 18px
        line-height: 22px
        margin-bottom: 10px
      &__text
        font-size: 14px
        line-height: 17px
        margin-bottom: 20px
      &__transfer
        &_1
          display: none
  .work
    &__wrapper
      padding-top: 121px
      padding-bottom: 154px
    &__titel
      font-size: 24px
      line-height: 29px
      margin-bottom: 5px
    &__container
      border: 3px solid $light
      border-top: none
      &::before
        border: 3px solid $light
        border-left: none
        border-bottom: none
        right: -4px
        top: -17px
        left: 81%
      &::after
        border: 3px solid $light
        border-right: none
        border-bottom: none
        left: -3px
        top: -17px
        right: 81%
    &-description
      max-width: 86%
      padding-bottom: 30px
      &__titel
        font-size: 14px
        line-height: 17px
        margin-bottom: 5px
      &__text
        font-size: 14px
        line-height: 17px
        margin-bottom: 12px
  .project
    &__titel
      font-size: 24px
      line-height: 29px
      margin-bottom: 20px
    &__wrapper
      padding-top: 49px
      padding-bottom: 40px
      &::before
        right: -35%
        width: 176%
    &-card
      padding-top: 20px
      padding-bottom: 20px
      margin-bottom: 40px
      &__container
        width: 94%
      &__titel
        font-size: 18px
        line-height: 22px
        margin-bottom: 15px
      &__link
        font-size: 14px
        line-height: 17px
        margin-bottom: 15px
        &-name
          font-size: 14px
          line-height: 17px
      &__video-block
        height: 259px
        margin-bottom: 15px
    &-description
      &__blocks
        flex-direction: column
        margin-bottom: 0
      &__card
        width: 100%
        margin-bottom: 15px
      &__titel
        font-size: 14px
        line-height: 17px
        margin-bottom: 5px
      &__text
        font-size: 14px
        line-height: 17px
  .contacts
    padding-top: 40px
    padding-bottom: 40px
    &__titel,
    &__text,
    &__link
      font-size: 14px
      line-height: 17px
    &__link
      margin-bottom: 0
